* {
    box-sizing: border-box;
}


.div-space{
    width:200px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.236);
    border: none;
    border-radius: 2px;
    display: inline-block;
    margin: 6px 6px;
}

.div-head{
    width:200px;
    height: 200px;
    margin:0px 0px 0px 0px; 
}

.img-head-pic{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.p-name{
    font-size: 20px;
    font-weight: bold;
    margin:6px 6px 6px 12px;
}

.div-friends{
    margin: 6px 6px  6px 12px;
}

.div-friends-icon{
    display: inline-block;
    vertical-align: middle;
    margin:0px 0px 0px 0px;
    width: 25px;
    height: 25px;
}

.img-friends-icon-dog{
    width: 25px;
    height:25px;
    object-fit: cover;
    border: none;
    border-radius: 100px;
}

.p-friends-text {
    display: inline-block;
    vertical-align: middle;
    color: gray;
    margin: 0px 6px;
    font-size: 12px;
}

.button-addFriend{
    border: none;
    border-radius: 2px;
    background-color: rgb(80, 141, 255);
    color: white;
    margin: 3px 6px 12px 12px;
    padding:8px 12px;
}
.button-addFriend:hover{
    cursor: pointer;
}
