* {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 60px 0px 0px 70px;
}

/* a{display: block;} */

@media(width>1200px){
   body{
   padding: 60px 0px 0px 200px;
   } 
}
