/* <!-- YouTube顶部菜单栏 --> */
.header_div {
    height: 55px; display: flex;
    justify-content: space-between;
}

/* <!-- YouTube 顶部菜单栏 左部分 --> */
.left_section_div {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.hamburger_menu_img{
    height: 28px;
    margin: 0px 20px;
}

.youtube_logo_img{
    height: 25px;
}

/* <!-- YouTube 顶部菜单栏 中间部分 --> */
.middle_section_div {
    flex: 1;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search_bar_input {
    flex:1;
    height: 35px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    box-shadow:  inset  1px 1px 2px #00000015;
    padding: 0px 0px 1px 10px;
    width: 78px;
}

.search_bar_input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.search_button_img{
    padding: 3px 9px 3px 10px;
    height: 35px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    background-color: #e1e1e1;
    margin-left: -1px;
}

.voice_search_button_img{
    padding: 4px;
    height: 35px;
    width: 35px;
    background-color: #d7d7d7;
    border-radius: 100px;
    margin: 0px 14px;
}

/* <!-- YouTube 顶部菜单栏 右部分 --> */
.right_section_div {
    width: 200px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload_button_img{
    height: 30px;
}


.youtube_apps_img{
    height: 30px;
}

.notifications_img{
    height: 30px;
}

.user_avatar_img{
    height: 35px;
    width:35px;
    border: none;
    border-radius: 100px;
    margin-right: 20px;
}