/* <!-- YouTube顶部菜单栏 --> */
.header_div {
    height: 60px;
    display: flex;
    justify-content: space-between;

    top:0px;
    left:0px;
    right:0px;
    position: fixed;

    background-color: white;

    border-bottom-style: solid;
    border-bottom-color: #d5d5d5;
    border-bottom-width: 1px;
}

/* <!-- YouTube 顶部菜单栏 左部分 --> */
.left_section_div {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.hamburger_menu_img {
    height: 24px;
    margin: 0px 25px 0px 20px;
}

.youtube_logo_img {
    height: 20px;
}

/* <!-- YouTube 顶部菜单栏 中间部分 --> */
.middle_section_div {
    flex: 1;
    max-width: 500px;
    display: flex;
    align-items: center;
    margin:0px 20px 0px 20px;
}

.search_bar_input {
    flex: 1;
    height: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-style: solid;
    border-color: #d5d5d5;
    border-width: 1px;
    box-shadow: inset 1px 1px 2px #00000015;
    padding: 0px 0px 1px 15px;
    width: 78px;
    -webkit-font-smoothing: antialiased;
}

.search_bar_input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #a3a3a3;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.search_button_img {
    padding: 6px 15px 6px 16px;
    height: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-style: solid;
    border-color: #d5d5d5;

    border-width: 1px;
    background-color: #f5f5f5;
    margin-left: -1px;
}

.voice_search_button_img {
    padding: 8px;
    height: 41px;
    width: 41px;
    background-color: #f5f5f5;
    border-radius: 100px;
    margin: 0px 0px 0px 15px;
}

/* <!-- YouTube 顶部菜单栏 右部分 --> */
.right_section_div {
    width: 190px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload_button_img {
    height: 25px;
}

.youtube_apps_img {
    height: 25px;
}

.notifications_img {
    height: 25px;
}

.user_avatar_img {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 100px;
    margin-right: 20px;
}
