.sidebar_div {
    z-index: 200;

    width: 80px;
    top: 59px;
    left: 0px;
    bottom: 0px;
    position: fixed;

    background-color: white;

    z-index: 100;

    display: flex;
    flex-direction: column;

    align-items: center;
    transition: 0.15s;
}

.sidebar_link {
    height: 80px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sidebar_link:hover {
    cursor: pointer;
}

.sidebar_link:hover {
    background-color: #eeeeee;
}
.sidebar_link img {
    width: 25px;
    padding: 16px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
}
.sidebar_link p {
    font-size: 10px;
}

@media(width>1200px){
    .sidebar_div{
       width: 200px;
       background-color: white;
    }
    .sidebar_link{
        flex-direction: row;
        /* align-items: center; */
        height: 50px;
    }
    .sidebar_link img{
        width: 25px;
        height: 25px;
        padding: 0;
        margin: 16px 0 15px 27.5px;
    }
    .sidebar_link p{
        font-size: 16px;
        margin: 5px 0 0px 15px;
    }

}