.video_space_div {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
    row-gap: 25px;
    background-color: #f7f7f7;
    padding: 20px 20px 50px 20px;
}
@media (width>650px) {
    .video_space_div {
        grid-template-columns: 1fr 1fr;
    }
}
@media (width>1000px) {
    .video_space_div {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (width>1500px) {
    .video_space_div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (width>=1920px) {
    .video_space_div {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.video_preview_div {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.thembnails_div {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 12px;
}
.thembnails_time_p {
    position: absolute;
    background-color: black;
    color: white;
    padding: 1px 5px 1px 5px;
    border-radius: 4px;
    right: 10px;
    bottom: 10px;
    font-size: 13px;
}

.video_infor_div {
    display: grid;
    grid-template-columns: 39px 1fr;
    height: 110px;
}

.video_infor_channelPic_div {
    position: relative;
}

.video_infor_channelPic_img {
    cursor: pointer;

    width: 39px;
    height: 39px;
    border-radius: 100px;
    object-fit: cover;
}

.video_infor_text_div {
    margin-left: 12px;
}

.video_title_p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0px;
    line-height: 20px;
    margin-bottom: 0px;
}
.video_author_p,
.video_stats_p {
    color: rgb(124, 124, 124);
    margin: 12px 0px;
    font-size: 13px;
    line-height: 8px;
}
