* {
  box-sizing: border-box;
}

.div-1{
    display: flex;
    flex-direction: row;
}
.div-1-1{
    background-color: khaki;
    width: 200px;
}
.div-1-2{
    background-color: lightblue;
    width:75px;
    /* margin-left: auto; */
}