* {
  box-sizing: border-box;
}

.div-1{
    display: flex;
    flex-direction: row;
}
.div-1-1{
    background-color: khaki;
    margin-right: auto;
    width:50px;
}
.div-1-2{
    background-color: lightblue; 
    flex:1; 
    /* margin-left: auto; */
}

.div-1-3{
    background-color: lightcyan;
    width: 75px;
    margin-left: auto;
}