* {
  box-sizing: border-box;
}

.div-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.div-1-1{
    background-color: khaki;
}

.div-1-2{
    background-color: lightblue; 
}

.div-1-3{
    background-color: lightcyan;
}

.div-1-4{
    background-color: lightsalmon;
}