* {
  box-sizing: border-box;
}

.div-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
    height: 80px;
    align-items: center;
}

.div-1-1,.div-1-2{
    background-color: khaki;
    
}
/* 
.div-1-2{
    background-color: lightblue; 
} */
