* {
  box-sizing: border-box;
}


.div-space{
    border-color: #979797;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 4px 10px;
}

.div-line-1{
    /* background-color: lightblue; */
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
}
.p-1{
   flex:1; 
   margin: 0;
}

.button-1{
    background-color: rgb(95, 141, 255);
    font-weight: bold;
    padding: 2px 9px;
    color: white;
    border: none;
    border-radius: 100px;

}