* {
    box-sizing: border-box;
}

.space {
    margin: 5px;
    background-color: #9f64d5;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    justify-content: space-between;
}

.home-icon {
    margin-right: 50px;
    margin-left: 20px;
    color:white;
    font-weight: bold;
}

.input {
    border: none;

    height: 30px;
    border-radius: 1000px;
    padding: 0px 20px;
    width: 600px;
}

.button-1 {
    margin-left: 50px;
    margin-right: 20px;
    background-color: #9f64d5;
    color: white;
    border-color: white;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    height: 30px;
    padding: 0px 10px;
}
