.space {
    display: flex;
    height: 60px;
}

.item1 {
    background-color: lightpink;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item2 {
    background-color: lightblue;
    width: 200px;
}
.inside {
    color: white;
    background-color: black;
}
