.space {
    display: flex;
    height: 60px;
}

.item1 {
    background-color: lightpink;
    width: 100px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.item2{
    background-color: lightblue;
    width:200px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

/* .row1{
    align-items: center;
} */

.row2{
    justify-content: space-between;
    display:  flex;
}

.row2_left{
    background-color: black;
    color: white;
}

.row2_right{
    background-color: black;
    color: white;
}