.space {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #d9d9d9;
    width: 450px;
    padding: 15px 30px 20px 30px;
    gap: 15px;
}

.all_inbox {
    color: #b2b2b2;
    font-size: 14px;
    width: fit-content;
    /* margin: 0px 0px 10px 0px; */
}

.person_information {
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
    /* height: 40px; */
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 10px;
}

.text_title_time {
    flex:1;
    display: flex;
    flex-direction: column;
    /* height: 90px; */
    /* margin-bottom: 20px; */
}

.title_row_1 {
    display: flex;
    justify-content: space-between;
}

.title_row_1_left,.title_row_2{
    font-weight: bold;
}

.title_row_1_right{
    color: #b2b2b2;
}

.title_row_3{
    color:#b2b2b2;
}