.space {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #d9d9d9;
    width: 425px;
    padding: 15px 30px 20px 30px;
    gap: 15px;
}

.all_inbox {
    color: #8a8a8a;
    font-size: 14px;
    width: fit-content;
    /* margin: 0px 0px 10px 0px; */
}

.person_information {
    display: flex;
    align-items: center;
    /* justify-items: flex-start; */
    /* margin-bottom: 20px; */
    /* height: 40px; */
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 15px;
    align-self: flex-start;
}

.text_title_time {
    flex:1;
    display: flex;
    flex-direction: column;
    /* height: 90px; */
    /* margin-bottom: 20px; */
}

.title_row_1 {
    display: flex;
    margin-right: auto;
    /* justify-content: left; */
}

.title_row_1_left{
    font-weight: bold;
}


.title_row_1_right{
    color: #8a8a8a;
    padding-left: 10px;
    /* margin:0px 0px 0px 2px; */
}

.title_row_2{
    font-weight: 400;
}

.title_row_3{
    color:#8a8a8a;
}

.title_row_4{
    border-radius: 10px;
    border-color: #d9d9d9;
    border-width: 1.5px;
    border-style: solid;
    display: flex;
    /* background-color: lightblue; */
    overflow: hidden;
    margin: 10px 0px 10px 30px;
}

.youtube_link_left_part{
    background-color: #d9d9d9;
    width: 180px;
}

.youtube_link_right_part{
    display: flex;
    flex-direction: column;
    padding: 8px 10px 10px 10px;
}

.y_l_r_p_url{
    color: #8a8a8a;
    padding: 0px 0px 2px 0px;
}
