body{
    height: 3000px;
}

.gray-box{
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 320px;
    height: 180px;
    background-color: gray;
    /* position: relative; */
}

.X-button{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    color: white;
    /* padding: 30px; */
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100px;
    position: absolute;
    top:-10px;
    left: -10px;
}

.time{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: black;
    color: white;

    width: 35px;
    height: 23px;
    padding-bottom: 1px;
    border: none;
    border-radius: 1px;
    position: absolute;
    right:10px;
    bottom: 10px;

    font-size: 12px;
}