body{
    height: 3000px;
}

.item{
    height: 350px;
    width: 300px;
    
    overflow:hidden;

    margin: 20px;

    position: relative;

}

.item-pic{
    height: 100%;
    width: 100%;

    object-fit: cover;
    /* object-position: center; */
}

.item-info{
    background-color: black;
    color: white;

    position: absolute;
    top:20px;
    right: 0px;
    
    padding: 5px 10px 5px 10px;

}




