.div-1 {
    background-color: lightblue;
    position: static;
    height: 200px;
    width: 200px;
    margin: 200px 0px 0px 200px;
    position: relative;
}
.sidebar {
    background-color: lightseagreen;
    position: fixed;
    top: 50px;
    left: 0px;
    width: 100px;
    bottom: 0px;
}
.X-1 {
    position: absolute;
    background-color: red;
    color: white;
    top: 0px;
    right: 0px;
}
.header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 100;
}
.absolute-1 {
    position: absolute;
    background-color: red;
    color: white;
    top: 80px;
    right: 50px;
}
.X-2 {
    position: absolute;
    background-color: red;
    color: white;
    top: 0px;
    right: 0px;
}
.div-2 {
    background-color: lightcoral;
    position: relative;
    height: 200px;
    width: 200px;
    margin: 0px 0px 0px 200px;
}
.X-3 {
    position: absolute;
    background-color: red;
    color: white;
    bottom: 10px;
    right: 10px;
}
