* {
  box-sizing: border-box;
}


p{
    font-size: 25px;
}

input{
    background-color: rgb(241, 241, 241);
    border: none;
    padding: 10px;
    display: block;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 0px;
    width: 250px;
}

button{
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 12px;
}

.request_button{
    background-color: black;
    color:white;
    margin-right: 4px;
}

.schedule_button{
    margin-left: 4px;
}