* {
    box-sizing: border-box;
}


.div-space{
    display: grid;
    grid-template-columns: 50px 1fr 75px;
}
.p-1{
    background-color: lightblue;
}

.p-2{
    background-color: lightcoral;
}

.p-3{
    background-color: lightblue;
}