body{
    background-color: rgb(151, 115, 22);
}

.header{
    top:0;
    right:0;
    left:0;

    background-color: whitesmoke;

    padding: 10px 40px 10px 40px;

    display: flex;
    align-items: center;

    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* width: 130px; */
}

.avatar-icon{
    width: 40px;
    height: 40px;
    border-radius: 100px;
       margin: 15px;
}

.avatar-name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* width: 130px; */
}

.add-friends{
    background-color: #347fff;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;

    width: 90px;
    height: 30px;

    margin: 5px;

    border-radius: 4px;
    border:none;
    
    cursor: pointer;
}

.message{
    background-color: #e3e3e3;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;

    width: 90px;
    height: 30px;

    margin: 5px;

    border-radius: 4px;
    border:none;

    cursor: pointer;
}






