* {
  box-sizing: border-box;
}

div{
    background-color: rgb(33, 33, 33);
    width: 440px;
padding:20px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    color:white;
    margin-top: 6px;
}
.text{
    color: rgb(161, 161, 161);
    margin-bottom: 6px;

}