* {
    box-sizing: border-box;
}

div {
    width: fit-content;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.236);
    border: none;
    border-radius: 2px;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 10px;
}

.static {
    color: gray;
    margin: 0px 10px;
    font-size: 14px;
}

button{
    border: none;
    border-radius: 2px;
    background-color: rgb(80, 141, 255);
    color: white;
    margin: 10px 10px;
    margin-bottom: 13px;
    padding:8px 12px;
}
