/* * {
  box-sizing: border-box;
} */

div{
    text-align: center;
}


img{
    width: 300px;
    margin: 20px; 
}

.search_bar_input{
    
    text-align: left;
    border: none;
    border-radius: 100px;
    width: 500px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
    padding: 10px 20px;
    margin-bottom: 10px;
}

.input_button_div{
    margin: 10px;
}

.input_button{
    background-color: rgb(237, 237, 237);
    border: none;
    padding: 10px 20px;
    margin: 10px;
}