p {
    color: rgb(99, 99, 99);
    width: 200px;
    font-size: 10px;
}

button {
    width: 200px;
    font-size: 12px;
    background-color: rgb(28, 73, 196);
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 1000px;
}

input {
    width: 200px;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 3px 0px;
}
