img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    border-radius: 200px;
    margin: 0px;
}

input {
    border: none;
    width: 200px;
    font-size: 14px;
    margin: 8px 8px;
}

button {
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    margin: 4px 4px;
    border: none;
    border-radius: 200px;
    background-color: rgb(65, 125, 255);
}
