.video {
    margin: 0 0 0 80px;
    padding: 20px 20px 40px 10px;
    grid-template-columns: 1fr;
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    background-color: rgb(247, 247, 247);
}

.video-pad {
    border: 1px solid sandybrown;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 350px;
}

@media (width>600px) {
    .video {
        grid-template-columns: 1fr 1fr;
    }
}

@media (width>900px) {
    .video {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (width>1200px) {
    .video {
        margin-left: 200px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (width>=1920px) {
    .video {
        margin-left: 200px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.image-area {
    position: relative;
}
.image-area .time {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgb(0, 0, 0);
    padding: 2px 7px 2px 7px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.description-area {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0 0px 0;
}

.description-area .avatar-area {
    flex-shrink: 0;
}
.description-area .avatar {
    border-radius: 100px;
    height: 50px;
    margin: 10px 20px 10px 10px;
    flex-shrink: 0;
}

.description-area .text-area {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description-area .title {
    font-weight: bold;
    margin: 0 0 3px 0;
}

.description-area .upName,
.description-area .infor {
    color: gray;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 动态部分 */
.avatar-area .avatar:hover,
.text-area .title:hover,
.image-area .image:hover {
    cursor: pointer;
}
.avatar-area {
    border: 1px solid #ff0000;
    position: relative;
}
.avatar-area .card {
    height: 90px;
    width: 240px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -100px;
    left: 10px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.177);
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

