
p{
    font-family: monospace;
    text-align: center;
}

.std_1{
    font-weight: bold;
    font-size: 40px;
    margin: 0px;
}

.std_2{
    font-weight: normal;
}

.std_2_0{
    text-decoration: underline;
    text-underline-offset: 4px;
}