p {
                font-family: Arial, Helvetica, sans-serif;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 280px;
            }
            .video_title {
                font-size: 22px;
                font-weight: bold;
                text-align: left;
                line-height: 25px;
            }
            .vidoe_stats {
                font-size: 18px;
                color: rgb(96, 96, 96);
                line-height: 22px;
            }
            .apple_text {
                font-size: 14px;
                text-align: center;
                background-color: rgb(227, 65, 64);
                width: revert;
                margin-top: 20px;

                color: white;
                padding: 18px 30px;
            }
            .span_link {
                margin-left: 10px;
            }
            .span_link:hover {
                cursor: pointer;
                text-decoration: underline;
                text-underline-offset: 5px;
            }